<!DOCTYPE html>
{% load static %}
<html>
 <head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{% static 'main/css/index.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <title>Devops-инженер</title>
 </head>
 <body>
  <header class="header">
    <div class="empty-block"></div>
    <a class="logo" href="/">DevOps</a>
    <div class="empty-block"></div>
    <a class="log-in" href="">
      <img class="log-in-image" src="{% static 'main/assets/icons/log-in.svg' %}">
      <p class="log-in-text">Войти</p>
    </a>
  </header>
  <main class="main">
    <aside class="menu">
      <nav>
        <ul>
          <li class="menu-item menu-item-1">
            <img src="{% static 'main/assets/icons/main-page.svg' %}">
            <a href="/">Главная страница</a>
          </li>
          <li class="menu-item menu-item-2">
            <img src="{% static 'main/assets/icons/demand.svg' %}">
            <a href="/demand">Востребованность</a>
          </li>
          <li class="menu-item menu-item-3">
            <img src="{% static 'main/assets/icons/geography.svg' %}">
            <a href="/geography">География</a>
          </li>
          <li class="menu-item menu-item-4">
            <img src="{% static 'main/assets/icons/skills.svg' %}">
            <a href="/skills">Навыки</a>
          </li>
          <li class="menu-item menu-item-5">
            <img src="{% static 'main/assets/icons/latest-vacancies.svg' %}">
            <a href="/latest-vacancies">Последние вакансии</a>
          </li>
        </ul>
      </nav>
    </aside>
    <div class="content">
      <div class="introductory-block">
        <img src="{% static 'main/assets/images/DevOps-infinite.png' %}" alt="">
        <h1>Что такое DevOps и зачем нужны DevOps-инженеры.</h1>
      </div>
      <h2 class="header2">Что такое DevOps?</h2>
      <article>
        <p>
          DevOps — это сокращение от <b>Development Operations</b> — методология разработки, которая помогает наладить эффективное взаимодействие разработчиков с другими IT-специалистами.
          Это набор процессов и инструментов, которые позволяют компании создавать и улучшать продукты быстрее, чем при использовании традиционных подходов к разработке программного обеспечения.
        </p>
        <p>
          DevOps был призван решить проблему отсутствия звена между командой разработчиков и командой эксплуатации.
          Модель методологии напоминает вертикальный поток, где все фазы последовательно перетекают одна в другую. 
          После этапов определения требований к продукту и его проектирования наступают этапы написания и сборки кода. 
          Затем код отправляется в руки тестировщиков.
          После проверок отдел эксплуатации загружает код на рабочие машины — продукт запущен. 
        </p>
        <p>
          Для чего нужно знание DevOps?
          В первую очередь для оптимизации работы над проектом.
          Такие процессы, как запуск кода, приложений, внедрение изменений стоят немалых ресурсов, однако благодаря методологии DevOps их можно значительно сократить.
        </p>
        <p>
          Пожалуй, одним из самых главных элементов DevOps выступает практика непрерывной интеграции и доставки (Continuous integration и Continuous delivery или CI/CD), которая автоматизирует процесс выпуска программного обеспечения.
        </p>
        <p>
          Если необходимо привести пример того, как DevOps применяется в топовых компаниях, то можно посмотреть на успехи Netflix. 
        </p>
      </article>
      <h2>Зачем нужен DevOps-инженер и как им стать?</h2>
      <article>
        <p>
          Частично ответ на этот вопрос был уже дан в предыдущем пункте, однако следуют также знать, что требуется от человека, собирающегося стать DevOps-инженером.
        </p>
        <h3>Преимущества внедрения методологии DevOps:</h3>
        <ul>
          <li><b>— Создание более гибких и отказоустойчивых систем.</b> Позволяет быстро масштабировать систему, использовать только нужное количество ресурсов и оперативно увеличивать мощности.</li>
          <li><b>— Сведение ошибок к минимуму.</b> Чем масштабнее проект, тем сложнее поддерживать целостность системы, что в последствии приведёт к состоянию проекта, когда любое внедрение изменений будет вызывать баги в его работе.
          DevOps поможет решить эту проблему благодаря сокращению длительности циклов разработки, но увеличению их количества, благодаря чему искать ошибки становится проще, а значит, количество сбоев уменьшается.</li>
          <li><b>— Сокращение времени подготовки для выхода на рынок.</b> Масштабируемые инфраструктуры — облачные платформы, инструменты для ускорения сборки, параллельные рабочие процессы, работа в одной среде — сильно сокращают время работы. Развертывать и запускать приложение стало в разы быстрее.</li>
        </ul>
        <p>Теперь вы понимаете, какую ценность представляет собой DevOps и зачем нужны люди, знающие как внедрить его в работу.
          Поговорим теперь о том, что требуется от DevOps-инженера.
        </p>
        <h3>Что должен знать DevOps-инженер?</h3>
        <p>
          Очевидно, невероятно что строгих требований нет, однако будет намного проще освоить профессию, если обладать необходимыми навыками. 
        </p>
        <h3>Знание основ программирования</h3>
        <p>Для кого-то очевидно, а для кого-то — нет. Нетрудно догадаться, что в любой профессии IT необходимы минимальные знания основ программирования. Devops-инженер — не исключение.</p>
        <p>Под знанием основ подразумевается чёткое представление того, как проходит процесс разработки кода. Ведь не зная, как работает тот или иной процесс, вы не сможете его автоматизировать.
          Необходимо банально уметь распознавать ошибки и из-за чего они происходят.
        </p>
        <h3>Знания о среде разработки</h3>
        <p>Понимать, в какой среде ведётся разработка вы должны обязательно, однако это понимание также должно находиться на высоком уровне. Все это очень сильно пригодится, когда вы будете запускать реальные проекты.</p>
        <h3>Знание устройства сети</h3>
        <p>Если вы будете работать с сетью, разрабатывать онлайн-сервисы, то без них — никуда.</p>
      </article>
      <h2>Что по итогу?</h2>
      <article>
        <p>Конечно, DevOps-инженер профессия интересная, но и сложная. Впрочем, в IT нет лёгких профессий, а потому не стоит бояться DevOps. Вы не будете пропускать ни одной интересной софтинки, станете изучать и пробовать всё новое и неизведанное.</p>
      </article>
    </div>
  </main>
  <footer class="footer">
    <div class="empty-block"></div>
    <div class="student-info">
      <p class="full-name">ФИО студента:</p>
      <p class="academic-group">Ренёв Глеб Олегович</p>
      <p class="full-name">Академическая группа:</p>
      <p class="academic-group">РИ-210914</p>
    </div>
  </footer>
 </body>
</html>